{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h1 class="my-4"> {{ title }} </h1>
    <a class="btn btn-primary mb-3" href="{% url 'statuses_create' %}">{% trans 'Создать статус' %}</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans 'Имя' %}</th>
            <th>{% trans 'Дата создания' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for status in statuses %}
            <tr>
                <td>{{ status.id }}</td>
                <td>{{ status.name }}</td>
                <td>{{ status.date }}</td>
                <td>
                    <a href="{% url 'statuses_update' status.id %}">{% trans 'Изменить' %}</a>
                    <br>
                    <a href="{% url 'statuses_delete' status.id %}">{% trans 'Удалить' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
