{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <h1 class="my-4"> {{ title }} </h1>
    <a class="btn btn-primary mb-3" href="{% url 'labels_create' %}">{% trans 'Создать метку' %}</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans 'Имя' %}</th>
            <th>{% trans 'Дата создания' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for label in labels %}
            <tr>
                <td>{{ label.id }}</td>
                <td>{{ label.name }}</td>
                <td>{{ label.created_at }}</td>
                <td>
                    <a href="{% url 'labels_update' label.id %}">{% trans 'Изменить' %}</a>
                    <br>
                    <a href="{% url 'labels_delete' label.id %}">{% trans 'Удалить' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
