{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% trans 'Task manager' %}</title>
    {% bootstrap_css %}
</head>
<body class="d-flex flex-column min-vh-100">
{% include 'navbar.html' %}

<div class="container wrapper flex-grow-1">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</div>

<footer>
    <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://github.com/tanuki-evil1">Tanuki</a>
    </div>
</footer>
{% bootstrap_javascript %}
</body>
</html>
