{% extends 'base.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block content %}
    <h1 class="my-4">{{ title }}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'tasks_create' %}" role="button">{% trans 'Создать задачу' %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                {% bootstrap_form filter.form field_class="ml-2 mr-3" %}
                {% bootstrap_button button_text button_type="submit" button_class="btn btn-primary" %}
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>{% trans 'Имя'%}</th>
            <th>{% trans 'Статус'%}</th>
            <th>{% trans 'Автор'%}</th>
            <th>{% trans 'Исполнитель'%}</th>
            <th>{% trans 'Дата создания'%}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'tasks_detail' task.id %}">{{ task.name }}</a></td>
                <td>{{ task.status.name }}</td>
                <td>{{ task.author }}</td>
                <td>{{ task.executor }}</td>
                <td>{{ task.created_at }}</td>
                <td>
                    <a href="{% url 'tasks_update' task.id %}">{% trans 'Изменить' %}</a>
                    <br>
                    <a href="{% url 'tasks_delete' task.id %}">{% trans 'Удалить' %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}